<html lang="en">
	<head>
		<%- include("../partials/head.ejs") %>
		<script src="/js/details.js" defer></script>
	</head>

	<body>
		<%- include("../partials/nav.ejs") %>

		<div class="details content">
			<h2 contenteditable="false" id="title"><%= blog.title %></h2>
			<div class="content">
				<p contenteditable="false" id="blog"><%= blog.blog %></p>
			</div>
			<a class="edit" data-doc="<%= blog.id %>">
				<img src="/assets/icon-edit.svg" alt="edit icon" />
			</a>
			<a class="delete" data-doc="<%= blog.id %>">
				<img src="/assets/icon-delete.svg" alt="delete icon" />
			</a>
			<button class="send" type="submit">SEND</button>
		</div>

		<%- include("../partials/footer.ejs") %>
	</body>
</html>
